body {
  background-color: #f3f4f8;
  color: #0e0e34;
}
.header {
  font-weight: 900;
  padding: 12px 24px;
  background-color: #5385ee;
  text-transform: uppercase;
}
.cardBox {
  display: flex
}
.card {
  margin: 12px 24px;
  padding-bottom: 12px;
  border-radius: 3px;
  background-color: #c6c9d3;
  overflow: hidden
}
.content {
  margin: 12px 24px
}
.row {
  display: flex;
  margin-bottom: 24px,
}
.posValue {
  margin: 0px 5px;
  width: 150px;
}
.posValue>div {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  padding: 24px 5px;
  margin-top: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.modeValue {
  flex: 1;
  padding: 6px 12px;
  width: 150px;
}
.modeValue>div {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  padding: 24px 12px;
  margin-top: 7px;
  font-weight: 900;
  text-transform: uppercase;
}
.cardStretch {
  display: flex;
  margin: 12px 24px;
  background-color: #ddd;
  overflow: hidden;
  border-radius: 4px;
  flex-direction: column
}

.inputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputToggleMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputToggleContent {
  display: flex;
  flex-direction: row-reverse;
}

.ToggleField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.RuntimeSettingsBox {
  width: 700px;
}

.SystemSettingsBox {
  width: 700px;
}

.MotorSettingsBox {
  display: flex;
  flex-direction: column;
}
.hideMobile {
  display: auto;
}
.showMobile {
  display: none;
}
.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.viewMain {
  flex: 1;
  height: calc(100vh - 175px);
  overflow: auto;
}
.viewDevModeBanner {
  background-color: red;
  color: white;
  padding: 12px 24px;
  text-align: center;
}
.viewHeader {
  font-weight: 900;
  padding: 12px 24px;
  padding-top: 12px;
  padding-bottom: 24px;
  margin-bottom: 12px;
  background-color: #ddd;
}
.viewCardBox {
  display: flex;
}
.SystemGeneralSettings {
  margin-top: 24px;
}
.ProgramCardBox {
  align-items: stretch;
   height: calc(100vh - 300px)
}
.ProgEditorCardBox {
  max-height: 100%;
  width: 560px;
}
.Editor {
  flex: 1;
  width: 100%
}
.ProgSelectCardBox {
  width: 450px
}

@media only screen and (max-width: 780px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .hideMobile {
    display: none !important;
  }
  .showMobile {
    display: block !important;
  }
  .mainMenu {
    flex: 0 !important;
  }

  .viewDevModeBanner {
    background-color: red;
    color: white;
    padding: 12px 12px;
    text-align: center;
  }
  .viewHeader {
    font-weight: 900;
    padding: 12px 12px;
    padding-top: 12px;
    padding-bottom: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    background-color: #ddd;
  }
  .viewCardBox {
    display: flex;
    flex-direction: column;
  }

  .header {
    font-weight: 900;
    padding: 12px 24px;
    margin-bottom: 24px;
    text-transform: uppercase;
    background-color: #6d6db0
  }
  .content {
    margin: 12px 24px
  }
  .card {
    margin: 12px 24px;
  }
  .posValue {
    margin: 0px 12px 24px;
  }
  .posValue>div {
    padding: 12px 6px;
    margin-top: 6px;
  }
  .modeValue {
    padding: 12px 12px;
    width: 220px;
  }
  .modeValue>div {
    padding: 24px 12px;
    margin-top: 7px;
  }

  .inputField {
    display: flex;
    flex-direction: column;
  }

  .inputToggleMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .inputToggleContent {
    display: flex;
    flex-direction: row-reverse;
  }

  .ToggleField {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .RuntimeSettingsBox {
    width: auto;
  }

  .SystemSettingsBox {
    width: auto;
  }


  .ProgEditorCardBox {
    min-height: 800px;
    width: auto;
  }
  .Editor {
    height: 800px
  }
  .ProgSelectCardBox {
  }
  .ProgViewInfo {
    display: flex;
    flex-direction: column-reverse;
  }
}
